<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Gym</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body class="background">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="form-layout">
    <form id="form" th:action="@{/gym/create}" method="POST" th:object="${post}">
        <div class="flex-container m-3 d-lg-flex justify-content-around text-center">
            <div class="flex-child flex-column d-flex justify-content-center">
                <h1 class="heading">New Gym Listing</h1>
                <div class="form-text d-flex justify-content-center ">
                    <input id="name" class="gym-inputs text-center" name="name" type="text" th:field="*{name}"
                           placeholder="Gym Name"/>
                    <label for="name"></label>
                </div>
                <br>
                <div class="form-text">
                    <input id="address" class="gym-inputs text-center" name="address" type="text" th:field="*{address}"
                           placeholder="Gym Address"/>
                    <label for="address"></label>
                </div>
                <br>
                <div class="form-text">
                    <input id="description" class="gym-inputs text-center" name="description" type="text"
                           th:field="*{description}" placeholder="Gym Description"/>
                    <label for="description"></label>
                </div>
                <br>
                <div class="form-text">
                    <input id="equipment" class="gym-inputs text-center" name="equipment" type="text"
                           th:field="*{equipment}" placeholder="Equipment List"/>
                    <label for="equipment"></label>
                </div>
                <br>
                <label for="fileupload" placeholder="Upload Photos"></label>
                <input type="hidden" name="fileupload" id="fileupload">
                <input type="hidden" name="fileupload" id="fileupload1">
                <input type="hidden" name="fileupload" id="fileupload2">
                <input type="hidden" name="fileupload" id="fileupload3">
                <input type="hidden" name="fileupload" id="fileupload4">
                <div class="col text-center">
                    <button id="picker" type="button" class="select btn btn-danger btn-outline-warning">Choose gym
                        photos
                    </button>
                </div>
                <button class="select btn btn-danger btn-outline-warning">Create Gym!</button>
            </div>
        </div>
    </form>
</div>


<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>