<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<h1>Add Gym</h1>
<form th:action="@{/posts/create}" method="POST" th:object="${post}">

    <label for="name">Gym Name</label>
    <input id="name" th:field="*{name}" />

    <label for="address">Gym Address</label>
    <input id="address" th:field="*{address}" />

    <label for="description">Gym Description</label>
    <input id="description" th:field="*{description}" />

    <label for="equipment">Gym Equipment</label>
    <input id="equipment" th:field="*{equipment}" />


    <input value="Add Gym!" type="submit" />

</form>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>