<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Review</title>
    <th:block th:include="partials/styles.html :: styles"/>

</head>
<body class="home-gym">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="form-layout">
    <form th:action="@{/posts/{id}/review-create(id=${gym_id})}" method="POST" th:object="${review}">
        <div class="flex-container d-lg-flex justify-content-around text-center">
            <div class="flex-child flex-column d-flex justify-content-center">
                <h1 class="heading">Create a Review</h1>
                <div class="d-flex justify-content-center">
                    <div class="form-text d-flex row" style="justify-content: center">
                        <label for="rating">Rating</label>
                        <div class="rate validate inputs d-flex" style="justify-content: center" name="rating" id="rating">
                            <input type="radio" id="star5" name="rate" value="5" th:field="*{rating}"/>
                            <label for="star5" title="text"></label>
                            <input type="radio" id="star4" name="rate" value="4" th:field="*{rating}"/>
                            <label for="star4" title="text"></label>
                            <input type="radio" id="star3" name="rate" value="3" th:field="*{rating}"/>
                            <label for="star3" title="text"></label>
                            <input type="radio" id="star2" name="rate" value="2" th:field="*{rating}"/>
                            <label for="star2" title="text"></label>
                            <input type="radio" id="star1" name="rate" value="1" th:field="*{rating}"/>
                            <label for="star1" title="text"></label>
                        </div>
                        <br>
                        <div class="form-text">
                            <label for="body">Review</label>
                            <textarea id="body" class="validate inputs" style="border: 1px solid #f3cd15" rows="3" cols="30" th:field="*{body}"/>
                            <br>
                        </div>
                        <div class="form-text">
                            <div class="mb-3">
<!--                                <img id="oldpic" th:src="*{picture}" style="height: 250px">-->
                                <br>
                                <div id="thumbnail-container"></div>
                                <label for="fileupload"></label>
                                <input th:value="*{picture}" class="validate inputs" type="hidden" id="fileupload"
                                       th:field="*{picture}">
                                <button id="picker" class="select btn" type="button">Pick
                                    Photo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <input value="Create Review" class="select btn btn-danger btn-outline-warning" type="submit"/>
            </div>
        </div>
    </form>
</div>

<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>