<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Review</title>
    <th:block th:include="partials/styles.html :: styles"/>

</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<form th:action="@{/posts/{id}/review-create(id=${gym_id})}" method="POST" th:object="${review}">

    <label for="rating">Rating</label>
    <input id="rating" th:field="*{rating}" />

    <label for="body">Review</label>
    <input id="body" th:field="*{body}" />

    <div class="mb-3">
        <img id="oldpic" th:src="*{picture}" alt="User profile picture" style="height: 250px">
        <br>
        <div id="thumbnail-container"></div>
        <label for="fileupload">Select a file to upload</label>
        <input th:value="*{picture}" type="hidden" id="fileupload" th:field="*{picture}">
        <button id="picker" type="button">Pick file</button>
    </div>

    <input value="create review" type="submit" />
</form>
<th:block th:include="partials/footer :: footer"/>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>