<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Gym</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body class="home-gym">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="form-layout">
    <form th:action="@{/posts/{id}/edit/update(id = ${post.id})}" method="post" th:object="${post}">
        <div class="flex-container d-lg-flex justify-content-around text-center">
            <div class="flex-child flex-column d-flex justify-content-center">
                <h1 class="heading">Edit Your Gym</h1>
                <div class="d-flex justify-content-center">
                    <div class="form-text d-inline">
                        <div class="form-text">
                            <label for="name">Gym Name</label>
                            <input class="validate inputs" id="name" th:field="*{name}"/>
                            <div class="form-text">
                                <label for="address">Gym Address</label>
                                <input class="validate inputs" id="address" th:field="*{address}"/>
                            </div>
                            <div class="form-text">
                                <label for="description">Gym Description</label>
                                <input class="validate inputs" id="description" th:field="*{description}"/>
                            </div>
                            <div class="form-text">
                                <label for="equipment">Gym Equipment</label>
                                <input class="validate inputs" id="equipment" th:field="*{equipment}"/>
                            </div>
                            <div class="form-text">
                                <label for="fileupload">Select a file to upload</label>
                                <input type="hidden" name="fileupload" id="fileupload">
                                <button id="picker" type="button" class="select btn-small">Pick file</button>
                            </div>
                            <button type="submit" class="select btn-small">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>