<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="footer">
    <footer class="mt-auto bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="navbar-fixed-bottom container p-4 pb-0">
            <!-- Section: Social media -->
            <div class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="https://github.com/Slim-Gym-Culver-Martinez-Garcia-Wagnon/Slim-Gym" role="button"
                ><i class="fab fa-github"></i
                ></a>
                <!-- Section: Social media -->
            </div>
            <!-- Copyright -->
            <div class="text-center">
                © 2021 Copyright: Slim Gym
            </div>
        </div>
        <!-- Copyright -->
    </footer>
</th:block>

</body>
</html>