<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="footer">
    <footer class="footer fixed-bottom mt-auto bg-dark text-center text-white">
<!--        fixed bottom for footer-->
        <!-- Grid container -->
        <div class="navbar-fixed-bottom p-2 pb-0">
            <!-- Section: Social media -->
            <div class="justify-space-between">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
                ><i class="fab fa-twitter"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
                ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="https://github.com/Slim-Gym-Culver-Martinez-Garcia-Wagnon/Slim-Gym" role="button"
                ><i class="fab fa-github"></i
                ></a>
                <br>
                <!-- Copyright -->
                <p class="no-margin text-center">
                    © 2021 Copyright: Slim Gym
                </p>
            </div>
        </div>
    </footer>
</th:block>

</body>
</html>