<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SlimGym</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/posts">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div>
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/login">Login</a></li>
                                <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" th:method="post" id="form1">
                                        <a onclick="document.getElementById('form1').submit();" class="dropdown-item">Log-Out</a></form>
                                </li>
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/sign-up">Create an Account</a></li>
                                <li><a class="dropdown-item" href="#">View Profile Page</a></li>
                                <li><a class="dropdown-item" href="#">About Us</a></li>
                                <li><a class="dropdown-item" href="#">Help</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>