<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-dark navbar-expand-lg" style="font-family: 'Bangers'; background-color: #1a1819">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"
               style="color: #840000FF; text-shadow: 1px 1px 1px #f3cd15; font-size: 40px;">SlimGym</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/gyms">Gyms</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" th:method="post" id="form1">
                            <a onclick="document.getElementById('form1').submit();" class="nav-link">Log-Out</a></form>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/sign-up">Create an Account</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/profile">View Profile Page</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/aboutus">About Us</a>
                    </li>
                </ul>
                <form style="margin-left: auto;" th:action="@{/search}" method="post" class="form-inline my-2 my-lg-0">
                    <select id="search-params" name="search-params" style="height: 38px">
                        <option value="2">Gym Name</option>
                        <option value="3">Gym Owner</option>
                        <option value="4">Gym Address</option>
                    </select>
                    <input id="query" name="query" type="search" class="form-control mr-sm-2"
                           style="box-shadow: 0px 0px 10px red;outline: yellow; width: 25rem;"/>
                    <label for="query"></label>
                    <div>
                        <input value="Search" class="select btn-small" type="submit"/>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>