<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="position:fixed; height: 10%; width: 100%; margin-bottom: 10px; z-index: 4;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SlimGym</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/posts">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <div>
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/login">Login</a></li>
                                <li sec:authorize="isAuthenticated()"><form th:action="@{/logout}" th:method="post" id="form1">
                                        <a onclick="document.getElementById('form1').submit();" class="dropdown-item">Log-Out</a></form>
                                </li>
                                <li sec:authorize="!isAuthenticated()"><a class="dropdown-item" href="/sign-up">Create an Account</a></li>
                                <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/profile">View Profile Page</a></li>
                                <li><a class="dropdown-item" href="/templates/aboutus.html">About Us</a></li>
                                <li><a class="dropdown-item" href="#">Help</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <form class="row d-flex ml-auto" action="" th:action="@{/search}" method="post">
                        <div class="row input-field row s12">
                            <select id="search-params" name="" class="">
<!--                                <option value="1">General Search</option>-->
                                <option value="2">Gym Name</option>
                                <option value="3">Gym Owner</option>
                                <option value="4">Gym Address</option>
                                <option value="5">Gym Equipment</option>
                            </select>
                            <div class="input-field s12">
                                <input id="query" name="query" type="text" class="validate" placeholder="Search" />
                                <label for="query"></label>
                            </div>
                        </div>
                </form>

            </div>
        </div>
    </nav>
</th:block>

</body>
</html>