<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3039f762fd.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script>

        // Set up the picker
        const client = filestack.init('AR2VI3jLQyWEkkv3AJ6Psz');
        const options = {
            onUploadDone: updateForm,
            maxSize: 10 * 1024 * 1024,
            accept: 'image/*',
            uploadInBackground: false,
        };
        const picker = client.picker(options);

        // Get references to the DOM elements

        const form = document.getElementById('pick-form');
        const fileInput = document.getElementById('fileupload');
        const btn = document.getElementById('picker');
        const nameBox = document.getElementById('nameBox');
        const urlBox = document.getElementById('urlBox');

        // Add our event listeners

        btn.addEventListener('click', function (e) {
            e.preventDefault();
            picker.open();
        });

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            alert('Submitting: ' + fileInput.value);
        });

        // Helper to overwrite the field input value

        // function updateForm(result) {
        //     const fileData = result.filesUploaded[0];
        //     fileInput.value = fileData.url;
        //
        //     const name = document.createTextNode('Selected: ' + fileData.filename);
        //     const url = document.createElement('a');
        //     url.href = fileData.url;
        //     url.appendChild(document.createTextNode(fileData.url));
        //     nameBox.appendChild(name);
        //     urlBox.appendChild(document.createTextNode('Uploaded to: '));
        //     urlBox.appendChild(url);
        // };
        function updateForm (result) {
            const fileData = result.filesUploaded[0];
            fileInput.value = fileData.url;

            // If file is resizable image, resize and embed it as a thumbnail preview
            if (['jpeg', 'png'].indexOf(fileData.mimetype.split('/')[1]) !== -1) {
                const container = document.getElementById('thumbnail-container');
                const thumbnail = document.getElementById('thumbnail') || new Image();
                thumbnail.id = 'thumbnail';
                thumbnail.src = client.transform(fileData.handle, {
                    resize: {
                        width: 200
                    }
                });

                if (!container.contains(thumbnail)) {
                    container.appendChild(thumbnail);
                }
            }
            $('#oldpic').hide();
        };
    </script>

</th:block>
</body>
</html>