<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Edit your profile</title>
    <th:block th:include="partials/styles.html :: styles"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="background">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="form-layout">
    <form id="form" th:action="@{/user/edit/update/{id}(id=${id})}" th:method="POST" th:object="${user}">
        <input th:value="*{first_name}" type="hidden" id="first_name" class="form-control" th:field="*{first_name}">
        <input th:value="*{last_name}" type="hidden" id="last_name" class="form-control" th:field="*{last_name}">
        <input th:value="*{username}" type="hidden" id="username" class="form-control" th:field="*{username}">
        <div class="flex-container m-3 d-lg-flex justify-content-around text-center">
            <div class="flex-child flex-column d-flex justify-content-center">
                <h1 class="heading">Edit your profile:</h1>
                <div class="form-text mb-3">
                    <label for="email" class="text-center">Email</label>
                    <br>
                    <input id="email" class="gym-inputs text-center" name="email" type="text" th:value="*{email}"
                           th:field="*{email}"/>
                </div>
                <br>
                <div class="form-text mb-3">
                    <label for="password" class="text-center">Password</label>
                    <br>
                    <input th:value="*{password}" class="gym-inputs text-center" id="password" name="password"
                           type="password" th:field="*{password}" placeholder="Password"/>
                </div>
                <br>
                <div class="form-text mb-3">
                    <img id="oldpic" th:src="*{profile_pic}" alt="User profile picture" style="height: 250px">
                    <br>
                    <div id="thumbnail-container"></div>
                    <label for="fileupload" placeholder="Upload Photo"></label>
                    <input type="hidden" id="fileupload" th:field="*{profile_pic}" th:value="*{profile_pic}">
                    <button id="picker" type="button" class="select btn-small">Choose profile photo</button>
                </div>
            </div>
            <div class="flex-child second flex-column d-flex justify-content-center">
                <br>
                <br>
                <h1 class="heading">Update Emergency Contact</h1>
                <div class="form-text mb-3">
                    <label for="emergency_first_name" class="text-center">First Name</label>
                    <br>
                    <input id="emergency_first_name" class="gym-inputs text-center" name="emergency_first_name"
                           type="text" th:value="*{emergency_first_name}"
                           th:field="*{emergency_first_name}"/>
                </div>
                <br>
                <div class="form-text mb-3">
                    <label for="emergency_last_name" class="text-center">Last Name</label>
                    <br>
                    <input id="emergency_last_name" class="gym-inputs text-center" name="emergency_last_name"
                           type="text" th:value="*{emergency_last_name}"
                           th:field="*{emergency_last_name}"/>
                </div>
                <br>
                <div class="form-text mb-3">
                    <label for="emergency_phone_number" class="text-center">Phone Number</label>
                    <br>
                    <input id="emergency_phone_number" class="gym-inputs text-center" name="emergency_phone_number"
                           type="text" th:value="*{emergency_phone_number}"
                           th:field="*{emergency_phone_number}"/>
                </div>
                <br>
                <button class="select btn-small">Save Changes</button>
            </div>
        </div>
    </form>
</div>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>