<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<th:block th:replace="partials/navbar.html :: navbar"/>
<body class="login-body">


<div class="login-box">
    <h1 class="login-h1">LOGIN</h1>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate" placeholder="Username/Email"/>
                <label for="username"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" placeholder="Password"/>
                <label for="password"></label>
            </div>
        </div>
    <button id="login" type="submit" value="Log In" class="waves-effect waves-purple btn-small indigo accent-3">Log In</button>
</form>
</div>
<p>Don't have a user yet? <a href="/sign-up">Create A User</a></p>
<th:block th:include="partials/footer :: footer"/>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>