<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:replace="partials/styles.html :: styles"/>
</head>
<th:block th:replace="partials/navbar.html :: navbar"/>
<body class="login-body">


<div class="login-box">
<!--    <h1 id="login-h1">LOGIN</h1>-->

<!--    <div th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--    </div>-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->
    <h1 id="login-h1">LOGIN</h1>

    <form th:action="@{/login}" method="post">
        <div class="textbox">
            <div class="input-field col s12">
                <i class="fas fa-user"></i>
                <input id="username2" name="username2" type="text" class="validate" placeholder="Username"/>
                <label for="username2"></label>
            </div>
        </div>

        <div class="textbox">
            <div class="input-field col s12">
                <i class="fas fa-lock"></i>
                <input id="password2" name="password2" type="password" class="validate" placeholder="Password"/>
                <label for="password2"></label>
            </div>
        </div>

        <button id="login" type="submit" value="Log In" class="waves-effect waves-purple btn-small indigo accent-3">Log
            In
        </button>
    </form>
    </div>
</div>
<!--<p>Don't have a user yet? <a href="/sign-up">Create A User</a></p>-->
<th:block th:include="partials/footer :: footer"/>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>

