<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body class="background">
<th:block th:replace="partials/navbar.html :: navbar"/>
<main class="container-fluid" style="margin-bottom: 75px">
    <div class="d-flex justify-content-around heading">
        <div>
            <h1 style="text-align: center; margin-top: 10px; font-family: 'Bangers', cursive; text-shadow: 1px 1px 1px #f3cd15;"><span><img
                    th:src="${user.getProfile_pic()}"
                    style="height: 75px; width: 75px; border: 2px solid #f3cd15; border-radius: 50%; margin-right: 15px"></span>Hello,
                <span style="font-family: 'Bangers', cursive; text-shadow: 1px 1px 1px #f3cd15;"
                      th:text="${user.first_name}"></span> <span
                        style="font-family: 'Bangers', cursive; text-shadow: 1px 1px 1px #f3cd15;"
                        th:text="${user.last_name}"></span></h1>
        </div>
        <div style="margin-top: 15px; text-shadow: none">
            <a th:href="@{/gym/create}" class="btn" style="height: 40px">Create A Gym</a>
            <a th:href="@{/user/{id}/edit(id=${user.id})}" class="btn" style="height: 40px">Edit Profile</a>
        </div>

    </div>

    <!--    GYM LISTINGS-->
    <h3 class="heading" style="text-align: center; text-shadow: 1px 1px 1px #f3cd15; font-family: 'Bangers', cursive;">
        Here are your current gym listings</h3>
    <div class="row d-flex justify-content-around" style="padding: 10px;">
        <div class="col-md-4" th:each="gym : ${gyms}" style="margin-top: 24px;">
            <div class="card-sl">
                <div class="card-image1">
                    <div th:each="picture : ${gym_pictures}">
                        <div th:if="${picture.gym.getId()} == ${gym.id}">
                            <div th:if="${picture.id == gym.getPictures().get(0).getId()}">
                                <img id="gympic" th:src="${picture.url}" style="height: 225px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-content1">
                <div class="card-heading1">
                    <h2 class="text-center" th:text="${gym.name}"
                        style="font-family: 'Bangers', cursive; margin-top: 20px"></h2>
                </div>
                <div class="card-text1" style="height: 65px"><h4 th:text="${gym.description}"
                                                                 style="font-family: 'Bangers', cursive;"></h4>
                </div>
                <div class="card-text1" th:text="${gym.equipment}" style="height: 65px">
                </div>
            </div>
            <div class="card-text1" th:text="${gym.address}" style="height: 65px">
            </div>
            <form th:action="@{/gym/{id}/edit(id = ${gym.id})}" method="get">
                <button class="card-button2">Edit Gym</button>
            </form>
            <form th:action="@{/gym/{id}/delete(id = ${gym.id})}" method="post">
                <button class="card-button1">Delete Gym</button>
            </form>
        </div>
    </div>

    <!--    Gets the current users schedules they have set-->
    <h3 class="heading2" style="text-align: center; border-bottom: 4px solid #f3cd15;
    margin-top: 20px; text-shadow: 1px 1px 1px #f3cd15;">Schedules</h3>
    <div class="row d-flex justify-content-around" style="padding: 10px;">
        <div class="col-md-4" th:each="schedule : ${schedules}" style="margin-top: 24px;">
            <div class="card-sl">
                <div class="card-content1">
                    <div class="card-heading1">
                        <h2 class="text-center" th:text="${schedule.getGym().getName()}"
                            style="font-family: 'Bangers', cursive; margin-top: 20px"></h2>
                    </div>
                    <div class="card-text1" style="height: 40px"><h4>Date:</h4>
                    </div>
                    <div class="card-text1" style="height: 65px" th:text="${schedule.getDate()}"></div>
                    <div class="card-text1" style="height: 40px"><h4>Start time:</h4>
                    </div>
                    <div class="card-text1" style="height: 65px" th:text="${schedule.getStart_time()}"></div>
                    <div class="card-text1" style="height: 40px"><h4>End time:</h4>
                    </div>
                    <div class="card-text1" style="height: 65px" th:text="${schedule.getEnd_time()}"></div>
                </div>
            </div>
        </div>
    </div>


    <!--        REVIEW CARDS-->
    <h3 class="heading2" style="text-align: center; border-bottom: 4px solid #f3cd15;
    margin-top: 20px; text-shadow: 1px 1px 1px #f3cd15;">Gyms you have reviewed</h3>
    <div class="row d-flex justify-content-around" style="padding: 10px;">
        <div class="col-md-4" th:each="review : ${reviews}" style="margin-top: 24px;">
            <div class="card-sl">
                <div th:if="!${review.picture.isEmpty()}">
                    <div class="card-image1">
                        <img id="reviewpic" th:src="@{${review.picture}}" style="height: 225px">
                    </div>
                </div>
                <div th:if="${review.picture.isEmpty()}">
                    <div class="card-image1">
                        <img id="placeholder" th:src="@{../img/placeholder.png}" style="height: 225px">
                    </div>
                </div>
            </div>
            <div class="card-content1">
                <div class="card-heading1">
                    <h2 class="text-center" th:text="${review.getGym().getName()}"
                        style="font-family: 'Bangers', cursive; margin-top: 20px"></h2>
                </div>
                <div class="card-text1" style="height: 40px"><h4>Your Rating:</h4>
                </div>
                <div class="card-text1" style="height: 65px">
                    <div th:if="${review.rating} == 1">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${review.rating} == 2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${review.rating} == 3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div th:if="${review.rating} == 4">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                    </div>
                    <div th:if="${review.rating} == 5">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                </div>
            </div>

            <div class="card-text1" style="height: 40px"><h4>Your Review:</h4>
            </div>
            <div class="card-text1" th:text="${review.body}" style="height: 65px">
            </div>

            <form th:action="@{/review/{id}/delete(id = ${review.id})}" method="post">
                <button class="card-button1">Delete Review</button>
            </form>
        </div>
    </div>
</main>


<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>