<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<h1>Hello, <span th:text="${user.first_name}"></span></h1>
you are the master here

<div th:if="!${isOwner}">
    <div th:each="review : ${reviews}">
        <div class="card offwhite-body">
            <div class="card-content preview-post">
                <h4>User rating: </h4>
                <h4 th:text="${review.rating}"></h4>
                <h4>Review by: </h4>
                <h4 class="card-title" th:text="${review.getUser().getUsername()}"></h4>
                <p th:text="${review.body}"></p>
                <img th:src="@{${review.picture}}" alt="picture review"/>
                <button class="upload">Upload</button>
                <img style="height: 250px; width: 250px" th:src="@{${review.picture}}"/>
            </div>
            <div class="small-space"></div>
        </div>
        <form th:action="@{/review/{id}/delete(id = ${gyms.id})}" method="post">
            <button>Delete Review</button>
        </form>
    </div>
</div>


<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>