<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>

<body class="background">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="form-layout">
    <form id="form" th:action="@{/sign-up}" method="POST" th:object="${user}">
        <div class="flex-container m-3 d-lg-flex justify-content-around text-center">
            <div style="background-color: rgba(0,0,0,0.7);" class="flex-child flex-column d-flex justify-content-center">
                <h1 class="heading">Create an account</h1>
                <div class="form-text">
                    <input id="first_name" name="first_name" type="text" class="validate inputs"
                           th:value="*{first_name}" placeholder="First Name"/>
                    <label for="first_name" th:field="*{first_name}"></label>
                    <p th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"
                       th:class="${#fields.hasErrors('first_name')}? error" style="color: red"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="last_name" name="last_name" type="text" class="validate inputs" th:value="*{last_name}"
                           placeholder="Last Name"/>
                    <label for="last_name" th:field="*{last_name}"></label>
                    <p th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"

                       th:class="${#fields.hasErrors('last_name')}? error" style="color: red"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="username1" name="username" type="text" class="validate inputs" th:value="*{username}"
                           placeholder="Username"/>
                    <label for="username1" th:field="*{username}"></label>
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                       th:class="${#fields.hasErrors('username')}? error" style="color: red"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="email" name="email" type="text" class="validate inputs" th:value="*{email}"
                           placeholder="Email"/>
                    <label for="email" th:field="*{email}"></label>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       th:class="${#fields.hasErrors('email')}? error" style="color: red"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="password1" name="password" type="password" class="validate inputs"
                           placeholder="Password"/>
                    <label for="password1" th:field="*{password}"></label>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       th:class="${#fields.hasErrors('password')}? error" style="color: red"></p>
                </div>
                <br>

                <label for="fileupload" placeholder="Upload Photo"></label>
                <input type="hidden" id="fileupload" th:field="*{profile_pic}">
                <button id="picker" type="button" class="select btn btn-danger btn-outline-warning">Choose profile
                    photo
                </button>
            </div>
            <div style="background-color: rgba(0,0,0,0.7);" class="flex-child second flex-column d-flex justify-content-center">
                <br>
                <br>
                <h1 class="heading">Emergency Contact</h1>
                <div class="form-text">
                    <input id="emergency_first_name" name="emergency_first_name" type="text" class="validate inputs"
                           th:value="*{emergency_first_name}"
                           placeholder="First Name"/>
                    <label for="emergency_first_name" th:field="*{emergency_first_name}"></label>
                    <p th:if="${#fields.hasErrors('emergency_first_name')}" th:errors="*{emergency_first_name}"
                       th:class="${#fields.hasErrors('emergency_first_name')}? error"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="emergency_last_name" name="emergency_last_name" type="text" class="validate inputs"
                           th:value="*{emergency_last_name}"
                           placeholder="Last Name"/>
                    <label for="emergency_last_name" th:field="*{emergency_last_name}"></label>
                    <p th:if="${#fields.hasErrors('emergency_last_name')}" th:errors="*{emergency_last_name}"
                       th:class="${#fields.hasErrors('emergency_last_name')}? error"></p>
                </div>
                <br>
                <div class="form-text">
                    <input id="emergency_phone_number" name="emergency_phone_number" type="text" class="validate inputs"
                           placeholder="Phone Number"/>
                    <label for="emergency_phone_number" th:field="*{emergency_phone_number}"></label>
                </div>
                <br>
                <button class="select btn btn-danger btn-outline-warning">Sign me up!</button>
            </div>
        </div>
    </form>
</div>



<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>