#create{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://t3.ftcdn.net/jpg/01/19/59/74/360_F_119597487_SnvLBdheEGOxu05rMQ5tCzo250cRrTz9.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;


}
.form-text1{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
    padding: 7px 0;
    font-size: 18px;
}

.form-layout{
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
}

.h1-create{
    float: left;
    font-size: 40px;
    border-bottom: 4px solid red;
    margin-bottom: 20px;
    padding: 12px 0;
    color: white;
}


#first_name,#last_name,#username1,#email,#password1,#emergency_first_name,#emergency_last_name,#emergency_phone_number{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    float: left;
    width: 90px;
    text-align: center;
    margin:0 10px;
}
