<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About us</title>
</head>
<body>
<h1>Welcome to SlimGym!</h1>
<p>During the 2020 lockdown, people flocked to the stores to buy home gym equipment. They spent thousands transforming their basements, and garages into their very own iron house. Now, with life returning to "normal", this expensive gym equipment is sitting lonely, collecting dust.
    On the other hand, others are too afraid to go back to their large commercial gyms. Too many people, too many germs, and too much risk. Others don't like working out in public places, too crowded, too much gawking, and not judgement free. We brings these two groups together by providing safe, clean, home gyms to those that want to work out.</p>
</body>
</html>