<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>About us</title>
    <th:block th:replace="partials/styles.html :: styles"/>
</head>

<body id="about-us" style="width: 100%; height: 100%;">
<th:block th:replace="partials/navbar.html :: navbar"/>
<div class="container-fluid" style="background-color: rgba(0,0,0,0.5)">
    <h2 class="titles" style="text-shadow: .5px .5px #f3cd15;">Meet the MeatHeads</h2>
    <div class="d-flex justify-content-center">
        <div class="d-flex text-center" style="color: white; width: 80%">
            <p style="font-size: 24px">We are a team of gym enthusiasts and software developers. We have collaborated on
                our final class project and are
                proud to bring you <span class="align-middle"
                                         style="color: #840000FF; text-shadow: 1px 1px 1px #f3cd15; font-size: 40px; font-family: 'Bangers', cursive;">Slimgym!</span>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="rounded shadow-sm py-4 px-4 "
                     style="height: 280px; background-color: #212121; border: 3px solid #840000FF;"><img
                        src="../static/img/dwpic.jpeg" th:src="@{img/dwpic.jpeg}" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                        style="height: 125px; width: 125px; border: 2px solid #f3cd15; padding: 0px;">
                    <h5 class="mb-0" style="color: white; font-family: 'Bangers', cursive; font-size: 26px">David
                        Wagnon</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/DavidHWagnon" class="social-link"
                                                        target="_blank"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/david-wagnon-19036720b/"
                                                        class="social-link" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1112"
                                                         target="_blank"><img src="../static/img/cody.png" th:src="@{img/cody.png}" style="height: 35px; width: 35px; border-radius: 50%"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="rounded shadow-sm py-4 px-4"
                     style="height: 280px; background-color: #212121; border: 3px solid #840000FF;"><img
                        src="../static/img/jgnew.jpeg" th:src="@{img/jgnew.jpeg}" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                        style="height: 125px; width: 125px; border: 2px solid #f3cd15; padding: 0px;">
                    <h5 class="mb-0" style="color: white; font-family: 'Bangers', cursive; font-size: 26px">Juan
                        Garcia</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/JuanDG14" class="social-link"
                                                        target="_blank"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/juan-d-garcia14/"
                                                        class="social-link" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1127" target="_blank"><img src="../static/img/cody.png" th:src="@{img/cody.png}" style="height: 35px; width: 35px; border-radius: 50%"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="rounded shadow-sm py-4 px-4"
                     style="height: 280px; background-color: #212121; border: 3px solid #840000FF;"><img
                        src="../static/img/dmnew.jpeg" th:src="@{img/dmnew.jpeg}" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                        style="height: 125px; width: 125px; border: 2px solid #f3cd15; padding: 0px;">
                    <h5 class="mb-0 mt-1" style="color: white; font-family: 'Bangers', cursive; font-size: 26px">Dustin
                        Martinez</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/martinezdustin736" class="social-link"
                                                        target="_blank"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dustin-martinez/"
                                                        class="social-link" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1113"
                                                        target="_blank"><img src="../static/img/cody.png" th:src="@{img/cody.png}" style="height: 35px; width: 35px; border-radius: 50%;"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-5">
                <div class="rounded py-4 px-4"
                     style="height: 280px; background-color: #212121; border: 3px solid #840000FF;"><img
                        src="../static/img/dcnew.jpeg" th:src="@{img/dcnew.jpeg}" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail"
                        style="height: 125px; width: 125px; border: 2px solid #f3cd15; padding: 0px;">
                    <h5 class="mb-0" style="color: white; font-family: 'Bangers', cursive; font-size: 26px">David
                        Culver</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/Davidpculver" class="social-link"
                                                        target="_blank"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/david-p-culver/"
                                                        class="social-link" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1120"
                                                        target="_blank"><img src="../static/img/cody.png" th:src="@{img/cody.png}" style="height: 35px; width: 35px; border-radius: 50%"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-center">
                <div class="card-header">
                    <h1 class="titles" style="text-shadow: .5px .5px #f3cd15;">What is SlimGym?</h1>
                </div>
                <div class="card-body p-10">
                    <p class="description">During the 2020 lockdown, people flocked to the stores to buy home gym equipment.
                        They spent thousands
                        transforming their basements, and garages into their very own iron house. Now, with life returning to
                        "normal", this expensive gym equipment is sitting lonely, collecting dust.</p>
                    <p class="description">On the other hand, others are too afraid to go back to their large commercial gyms.
                        Too many people, too
                        many germs, and too much risk. Others are uncomfortable working out in public places, too crowded, too
                        much gawking, and definitely not judgement free. We brings these two groups together by providing safe,
                        clean, home
                        gyms to those that want to work out.</p>
                    <footer class="blockquote-footer">SlimGym <cite title="Source Title">Est. 2021</cite></footer>
                </div>
            </div>

</div>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>