<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Edit your profile</title>
    <th:block th:include="partials/styles.html :: styles" />
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<h2>Edit your profile:</h2>
<form th:action="@{/user/edit/update/{id}(id=${id})}" th:method="POST" th:object="${user}">
    <label for="email">Change your email:</label>
    <input th:value="*{email}" id="email" th:field="*{email}" />
    <br>
    <label for="password">Change your password:</label>
    <input th:value="*{password}" id="password" th:field="*{password}" />
    <br>
    <label for="profile_pic">Change your profile photo: </label>
    <input th:value="*{profile_pic}" id="profile_pic" th:field="*{profile_pic}" />
    <br>
    <p>Update your emergency contact:</p>
    <label for="emergency_first_name">First Name: </label>
    <input th:value="*{emergency_first_name}" id="emergency_first_name" th:field="*{emergency_first_name}" />
    <label for="emergency_last_name">Last Name: </label>
    <input th:value="*{emergency_last_name}" id="emergency_last_name" th:field="*{emergency_last_name}" />
    <label for="emergency_phone_number">Phone Number: </label>
    <input th:value="*{emergency_phone_number}" id="emergency_phone_number" th:field="*{emergency_phone_number}" />

    <button type="submit">Save Changes</button>
</form>


<th:block th:include="partials/scripts.html :: script" />
</body>
</html>