<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>SlimGym</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>

<body class="home-gym">


<th:block th:replace="partials/navbar.html :: navbar"/>
<div id="home">
<h1 style="text-align: center" id="homepage">Slim your search<br>  Spot your gym </h1>
<p style="text-align: center" id="summary">Do you like the idea of a pay as you go gym vs. a monthly gym membership fee?<br>
Do you like the idea of having a gym all to yourself?<br>
Would you like to have access to private gyms all over the country?<br>
If the answer is "YES" then SlimGym is for you!<br></p>

    <a sec:authorize="isAuthenticated()" th:href="@{/sign-up}" id="home-create" type="button" class="btn">Book a session today!</a>
</div>

<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>