<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/styles.html :: styles"></th:block>
    <meta charset="UTF-8">
    <title>SlimGym Login</title>
</head>
<body>
<h1>SLIM GYM</h1>
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/login">Login/Logout</a></li>
                    <li><a class="dropdown-item" href="#">Create an Account</a></li>
                    <li><a class="dropdown-item" href="#">View Profile Page</a></li>
                    <li><a class="dropdown-item" href="#">About Us</a></li>
                    <li><a class="dropdown-item" href="#">Help</a></li>
                </ul>
            </div>
        </form>
    </div>



<th:block th:include="partials/scripts.html :: script"></th:block>
</body>
</html>