<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="partials/styles.html :: styles"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<!--    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsja5qGJUGO7Ly0q89b5DaLBaxFNzOnJY&callback=initMap"-->
<!--            type="text/javascript"></script>-->
    <style>
        /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
        #map {
            position: absolute;
            height: 90%;
            width: 75%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            left: 25%;
            z-index: 5;
            background-color: #fff;
            text-align: left;
            font-family: "Roboto", "sans-serif";
            line-height: 30px;
            padding-left: 10px;
        }

    </style>
</head>
<body class="container-fluid" style="width: 100%">
<th:block th:replace="partials/navbar.html :: navbar"/>

<!--<div>-->
<!--    <div class="d-none d-md-block" id="floating-panel">-->
<!--        <input id="address" type="textbox" placeholder="Enter an address" />-->
<!--        <input id="submit" type="button" value="Search" />-->
<!--    </div>-->
<!--</div>-->

<div class="d-none d-md-block" id="map"></div>

<div class="col-4 ml-auto d-none d-md-block" style="padding: 10px">
    <div th:each="gym : ${gyms}">
        <div class="card offwhite-body" style="margin-bottom: 10px">
            <div class="preview-post">
                <h1><a class="gym-name " th:href="@{/posts/{id}(id=${gym.id})}" th:text="${gym.name}"></a></h1>
                <div class="card-content">
                    <h4 class="card-text gym-description" th:text="${gym.description}"></h4>
                    <p class="card-text gym-address" th:text="${gym.address}"></p>
                    <p class="gym-id d-none" th:text="${gym.id}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" d-xl-none d-md-none d-lg-none d-block" style="padding: 10px">
    <div th:each="gym : ${gyms}">
        <div class="card offwhite-body" >
            <div class="preview-post">
                <h1><a class="gym-name " th:href="@{/posts/{id}(id=${gym.id})}" th:text="${gym.name}"></a></h1>
                <div class="card-content">
                    <h4 class="card-text gym-description" th:text="${gym.description}"></h4>
                    <p class="card-text gym-address" th:text="${gym.address}"></p>
                    <p class="gym-id d-none" th:text="${gym.id}"></p>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script>
    let names = $(".gym-name");
    let descriptions = $(".gym-description");
    let addresses = $(".gym-address");
    let ids = $(".gym-id");
    var addressesArray = [];


    function initMap() {

        const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 8,
        center: { lat: 29.4241, lng: -98.4936 },

    });

    const geocoder = new google.maps.Geocoder();

    // document.getElementById("submit").addEventListener("click", () => {
    //     geocodeAddress(geocoder, map);
    // });

        for (var i = 0; i < addresses.length; i++){
            var gymDescription = descriptions[i].innerHTML;
            var gymName = names[i].innerHTML;
            var add = addresses[i].innerHTML;
            var id = ids[i].innerHTML;
            const popupString =
                '<div class="">' +
                '<h1 class=""><a href="' +"/posts/" + id + '">' + gymName + '</a></h1>' +
                '<h3 class="">' + gymDescription + '</h3>' +
                '<h5 class="">'+ add + '</h5>' +
                '</div>';
            const infowindow = new google.maps.InfoWindow({
                content: popupString,
            });

            geocoder
        .geocode({address: add})
                .then(({results}) => {
                       let marker = new google.maps.Marker({
                       map: map,
                       position: results[0].geometry.location,
                    });
                    marker.addListener("click", () => {
                        infowindow.open({
                            anchor: marker,
                            map: map,
                            shouldFocus: false,
                        });
                    });
                })

                .catch((e) =>
                    alert("Geocode was not successful for the following reason: " + e)
                );


        }
        // var i = 0;
        // while (i < addressesArray.length){
        //
        //     console.log(addressesArray[i]);
        //
        //     i++
        // }

}


    function geocodeAddress(geocoder, resultsMap) {
        const address = document.getElementById("address").value;
        geocoder
            .geocode({address: address})
            .then(({results}) => {
                resultsMap.setCenter(results[0].geometry.location);
                new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location,
                });
            })
            .catch((e) =>
                alert("Geocode was not successful for the following reason: " + e)
            );

    }

</script>

<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsja5qGJUGO7Ly0q89b5DaLBaxFNzOnJY&callback=initMap&libraries=&v=weekly"
async
></script>


<th:block th:include="partials/scripts.html :: script"/>

</body>
</html>