<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/styles.html :: styles"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<h1>LOGIN</h1>

<i class="fas fa-user-circle"></i>

<form action="" th:action="@{/login}" method="post">
    <div class="row">
        <div class="input-field col s12">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Username" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" />
        </div>
    </div>
    <button type="submit" value="Login" class="btn-small btn-secondary">Log In</button>
</form>


<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>