<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search results</title>

    <th:block th:replace="partials/styles.html :: styles"/>
</head>

<body class="background" id="search-results">
<th:block th:replace="partials/navbar.html :: navbar"/>

<main class="container-fluid" style="margin-bottom: 75px">
    <h1 style="text-align: center; margin-top: 10px" class="heading">Search results</h1>
    <div class="container"></div>
    <div class="row d-flex justify-content-around" style="padding: 10px;">
        <div class="col-md-4" th:each="gym : ${searchResults}"
             style="margin-top: 24px; background-color: rgba(0, 0, 0, 0.7)">
            <div class="card-sl">
                <div class="card-image1">

                    <div th:each="picture : ${picture}">
                        <div th:if="${picture.gym.getId()} == ${gym.id}">
                            <div th:if="${picture.id == gym.getPictures().get(0).getId()}">
                                <img id="gympic" th:src="${picture.url}" style="height: 225px">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <img class="card-action1" th:src="${gym.getUser().getProfile_pic()}" style="height: 75px; width: 75px; border: 2px solid #f3cd15;"></img>
            <div class="card-content1" style="height: 50%; ">
                <div class="card-text1" style="height: 35px">Hosted by: <span th:text="${gym.getUser().username}"></span>
                </div>
                <div class="card-heading1">
                    <h2 class="text-center" th:text="${gym.name}"
                        style="font-family: 'Bangers', cursive; margin-top: 20px"></h2>
                </div>
                <div class="card-text1" style="height: 65px"><h4 th:text="${gym.description}"
                                                                 style="font-family: 'Bangers', cursive;"></h4>
                </div>
                <div class="card-text1" th:text="${gym.equipment}" style="height: 65px">
                </div>
                <a th:href="@{/gym/{id}(id=${gym.id})}" class="card-button1">View Details</a>
            </div>
        </div>

    </div>
    </div>
</main>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>