<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search results</title>
    <th:block th:replace="partials/styles.html :: styles"/>
</head>

<body class="background">
<th:block th:replace="partials/navbar.html :: navbar"/>

<main class="container-fluid">
    <h1 style="text-align: center">Search results</h1>
    <div class="d-flex justify-content-center">
        <div class="overflow-auto overlay" style="padding: 10px;">
            <div th:each="gym : ${searchResults}" class="d-flex justify-content-around">
                <div class="card offwhite-body d-flex " style="margin-bottom: 10px; width: 90%;">
                    <div class="preview-post d-flex justify-content-around">
                        <div class="w-50 d-flex justify-content-center">
                            <div th:each="picture : ${picture}">
                                <div th:if="${picture.gym.getId()} == ${gym.id}">
                                    <div class="d-flex justify-content-center">
                                        <div th:if="${picture.id == gym.getPictures().get(0).getId()}">
                                            <img class="d-block w-100" th:src="${picture.url}" alt="Slide1">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="width: 50%; padding-left: 10px;">
                            <h1><a class="gym-name " th:href="@{/posts/{id}(id=${gym.id})}" th:text="${gym.name}"></a>
                            </h1>
                            <br>
                            <h4 class="card-text gym-description" th:text="${gym.description}"></h4>
                            <p class="card-text gym-address" th:text="${gym.address}"></p>
                            <p class="gym-id d-none" th:text="${gym.id}"></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</main>


<th:block th:include="partials/footer :: footer"/>
<th:block th:include="partials/scripts.html :: script"/>
</body>
</html>