<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:include="partials/styles.html :: styles"/>
</head>
<body>
<th:block th:replace="partials/navbar.html :: navbar"/>
<h1>Create an account</h1>

<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="first_name">First Name</label>
    <input id="first_name" th:field="*{first_name}"/>
    <br>
    <label for="last_name">Last Name</label>
    <input id="last_name" th:field="*{last_name}"/>
    <br>

    <label for="username">Username</label>
    <input id="username" th:field="*{username}"/>
    <br>
    <label for="email">Email</label>
    <input id="email" th:field="*{email}"/>
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}"/>
    <br>

    <label for="fileupload">Select a file to upload</label>
    <input type="hidden" id="fileupload" th:field="*{profile_pic}">
    <button id="picker" type="button">Pick file</button>

    <br>
    <label for="emergency_first_name">Emergency First Name</label>
    <input id="emergency_first_name" th:field="*{emergency_first_name}"/>
    <br>
    <label for="emergency_last_name">EmergencyLast Name</label>
    <input id="emergency_last_name" th:field="*{emergency_last_name}"/>
    <br>
    <label for="emergency_phone_number">Emergency Phone Number</label>
    <input id="emergency_phone_number" th:field="*{emergency_phone_number}"/>
    <br>
    <input value="Sign me up!" type="submit"/>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script>
    // Set up the picker
    const client = filestack.init('AR2VI3jLQyWEkkv3AJ6Psz');
    const options = {
        onUploadDone: updateForm,
        maxSize: 10 * 1024 * 1024,
        accept: 'image/*',
        uploadInBackground: false,
    };
    const picker = client.picker(options);

    // Get references to the DOM elements

    const form = document.getElementById('pick-form');
    const fileInput = document.getElementById('fileupload');
    const btn = document.getElementById('picker');
    const nameBox = document.getElementById('nameBox');
    const urlBox = document.getElementById('urlBox');

    // Add our event listeners

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        alert('Submitting: ' + fileInput.value);
    });

    // Helper to overwrite the field input value

    function updateForm(result) {
        const fileData = result.filesUploaded[0];
        fileInput.value = fileData.url;

        // Some ugly DOM code to show some data.
        const name = document.createTextNode('Selected: ' + fileData.filename);
        const url = document.createElement('a');
        url.href = fileData.url;
        url.appendChild(document.createTextNode(fileData.url));
        nameBox.appendChild(name);
        urlBox.appendChild(document.createTextNode('Uploaded to: '));
        urlBox.appendChild(url);
    };

</script>
<th:block th:include="partials/scripts.html :: script"/>

</body>
</html>